<h2 mat-dialog-title>Advanced Search</h2>
<mat-dialog-content class="modal-content">
  <table class="table" style="width: 100%">
    <tr>
      <td style="vertical-align: top;">
        <table class="table">
          <tr>
            <td>
              <input id="cardNameText" class="form-control" type="text" [(ngModel)]="searchCriteria.Name" placeholder="Card Name" />
            </td>
          </tr>
          <tr>
            <td>
              <input id="cardTypeText" class="form-control" type="text" [(ngModel)]="searchCriteria.CardType" placeholder="Types" />
              <input id="cardSubTypeText" class="form-control" type="text" [(ngModel)]="searchCriteria.CardSubType" placeholder="Sub Types" />
            </td>
          </tr>
        </table>
      </td>
      <td style="vertical-align: top;">
        <table class="table">
          <tr>
            <td>
              <input id="cardTextText" class="form-control" type="text" [(ngModel)]="searchCriteria.Text" placeholder="Text" />
            </td>
          </tr>
          <tr>
            <td>
              <input id="ignoreText" class="form-control" type="text" [(ngModel)]="searchCriteria.IgnoreText" placeholder="Ignored Text" />
            </td>
          </tr>
        </table>
      </td>
      <td style="vertical-align: top;">
        <table class="table">
          <tr>
            <td>
              <input id="cardColorText" class="form-control" type="text" [(ngModel)]="searchCriteria.Color" placeholder="Color" />
            </td>
          </tr>
          <tr>
            <td>
              <input id="ignoreColorText" class="form-control" type="text" [(ngModel)]="searchCriteria.IgnoreColor" placeholder="Ignored Color" />
            </td>
          </tr>
        </table>
      </td>
      <td style="vertical-align: top;">
        <table>
          <tr>
            <td>
              <label for="fromSetSelect" class="form-label">Set Range</label>
            </td>
            <td>
              <select id="fromSetSelect" class="form-control" (change)="SetsFromChanged()" [(ngModel)]="searchCriteria.SetFromDate">
                <option [ngValue]="undefined">Any</option>
                <option *ngFor="let set of fromSetData" [ngValue]="set.ReleaseDate">{{set.Name}} - {{set.ReleaseDate|date:'yyyy-MM-dd'}}</option>
              </select>
              <select id="toSetSelect" class="form-control" (change)="SetsToChanged()" [(ngModel)]="searchCriteria.SetToDate">
                <option [ngValue]="undefined">Any</option>
                <option *ngFor="let set of toSetData" [ngValue]="set.ReleaseDate">{{set.Name}} - {{set.ReleaseDate|date:'yyyy-MM-dd'}}</option>
              </select>
            </td>
          </tr>
          <tr>
            <td>
              <label for="setTypeSelect" class="form-label">Set Type</label>
            </td>
            <td>
              <select id="setTypeSelect" class="form-control" [(ngModel)]="searchCriteria.SetType">
                <option [ngValue]="undefined">Any</option>
                <option *ngFor="let setType of setTypes" [ngValue]="setType.name">{{setType.Name}}</option>
              </select>
            </td>
          </tr>
        </table>
      </td>

    </tr>
    <tr>
      <td align="right">
        <button type="button" class="btn btn-outline-secondary" (click)="SearchData()">Search</button>
      </td>
    </tr>
  </table>
  <table style="width:100%">
    <ng-container *ngFor="let type of typeOrder">
      <ng-container *ngIf="orderedGroups && orderedGroups[type]">
        <tr>
          <td style="text-align:center;">
            <h2><strong>{{ type | titlecase }}&nbsp;({{orderedGroups[type].length}})</strong></h2>
          </td>
        </tr>
        <tr>
          <td >
            <div class="card-container" *ngIf="mtgCards">
              <img *ngFor="let card of orderedGroups[type]"
                   [src]="card.ImageUrl"
                   [alt]="card.Name"
                   class="card-image"
                   cardImageHoverPopup [attr.data-card]="card | json"
                   (click)="selectCard(card)" />

            </div>
          </td>
        </tr>
      </ng-container>
    </ng-container>
    <tr></tr>
  </table>
</mat-dialog-content>
<mat-dialog-actions>
  <button mat-button mat-dialog-close>Close</button>
</mat-dialog-actions>
