<h1 id="tableLabel">Mtg Cards</h1>

<table class="table" style="max-width:650px;">
  <tr>
    <td style="vertical-align: top;">
      <table class="table">
        <tr>
          <td>
            <label for="cardNameText" class="form-label">Card Name</label>
            <input id="cardNameText" class="form-control" type="text" [(ngModel)]="searchCriteria.Name" />
          </td>
        </tr>
        <tr>
          <td>
            <label for="setTypeSelect" class="form-label">Set Type</label>
            <select id="setTypeSelect" class="form-control" [(ngModel)]="searchCriteria.SetType">
              <option [ngValue]="undefined">Any</option>
              <option *ngFor="let setType of setTypes" [ngValue]="setType.name">{{setType.Name}}</option>
            </select>
          </td>
        </tr>
      </table>
    </td>
    <td style="vertical-align: top;">
      <label for="fromSetSelect" class="form-label">Set Range</label>
      <select id="fromSetSelect" class="form-control" (change)="SetsFromChanged()" [(ngModel)]="searchCriteria.SetFromDate">
        <option [ngValue]="undefined">Any</option>
        <option *ngFor="let set of fromSetData" [ngValue]="set.releaseDate">{{set.Name}} - {{set.ReleaseDate|date:'yyyy-MM-dd'}}</option>
      </select>
      <select id="toSetSelect" class="form-control" (change)="SetsToChanged()" [(ngModel)]="searchCriteria.SetToDate">
        <option [ngValue]="undefined">Any</option>
        <option *ngFor="let set of toSetData" [ngValue]="set.ReleaseDate">{{set.Name}} - {{set.ReleaseDate|date:'yyyy-MM-dd'}}</option>
      </select>
    </td>
  </tr>
  <tr>
    <td align="right">
      <button type="button" class="btn btn-outline-secondary" (click)="LoadDataGridsData()">Search</button>
    </td>    
  </tr>
</table>

<p *ngIf="!mtgCards"><em>Loading...</em></p>
<table datatable *ngIf="mtgCards" width="100%">
  <thead>
    <tr>
      <th width="25%">Name</th>
      <th width="25%">Image</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let card of mtgCards">
      <td width="25%">
        {{card.Name}}<br/><br/><i>{{card.Flavor}}</i>
      </td>
      <td>
        <img [(src)]="card.ImageUrl" />
      </td>
    </tr>
  </tbody>

</table>
