<div class="wrapper">
  <!-- Sidebar  -->
  <app-nav-menu #navMenu *ngIf="_authenticationService.IsLoggedIn"></app-nav-menu>
  <!-- Page Content  -->
  <div id="main-panel" [ngClass]="(_authenticationService.IsLoggedIn && _navigationMenu?.SideBarOpen ? 'sideBarOpen' : '') +
                                  (!_authenticationService.IsLoggedIn ? 'loggedOutPage' : '')
                                  ">
    <!--HEADER BAR-->
    <app-header-bar *ngIf="_authenticationService.IsLoggedIn"></app-header-bar>
    <!--CONTENT-->
    <div id="content">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>

<!--<div class="overlay" [ngClass]="status ? 'active' : ''"></div>-->
