<table cellspacing="0" cellpadding="0" width="100%" border="0">
  <tr>
    <td valign="top" align="center">

      <table cellspacing="0" cellpadding="1" border="0">
        <tr>
          <td class="HLine" colspan="8" height="38">
            <strong>
              <font face="Verdana, Arial, Helvetica, sans-serif" size="2">
                Order
                Management
              </font>
            </strong>
          </td>
        </tr>
        <tr>
          <td class="ItemTitle">
            Date Range:
          </td>
          <td class="ItemTitle">
            <input type="text"
                   placeholder="Date From"
                   [(ngModel)]="searchCriteria.DateFrom"
                   bsDatepicker>
            &nbsp;to&nbsp;
            <input type="text"
                   placeholder="Date To"
                   [(ngModel)]="searchCriteria.DateTo"
                   bsDatepicker>
          </td>
          <td class="ItemTitle">
            Ready to Process:&nbsp;
          </td>
          <td valign="middle" class="ItemTitle">
            &nbsp;
            <select [(ngModel)]="searchCriteria.ReadyToProcess">
              <option [ngValue]="undefined" selected="selected">Any</option>
              <option [ngValue]="'Y'">Yes</option>
              <option [ngValue]="'N'">No</option>
            </select>
          </td>
          <td class="ItemTitleRight">
            <label>Orders:&#160;</label>
          </td>
          <td width="77" class="ItemTitle">
            <label>{{orderTotal | currency}}</label>
          </td>
        </tr>
        <tr>
          <td class="ItemTitle">
            Provider Order ID:&nbsp;
          </td>
          <td class="ItemTitle">
            <input type="number" [(ngModel)]="searchCriteria.ProviderOrderRangeFrom" />
            &nbsp;to&nbsp;
            <input type="number" [(ngModel)]="searchCriteria.ProviderOrderRangeTo" />
          </td>
          <td class="ItemTitle">
            In Process:&nbsp;
          </td>
          <td class="ItemTitle">
            &nbsp;
            <select [(ngModel)]="searchCriteria.InProcess">
              <option [ngValue]="undefined" selected="selected">Any</option>
              <option [ngValue]="'Y'">Yes</option>
              <option [ngValue]="'N'">No</option>
            </select>
          </td>
          <td class="ItemTitleRight">
            <label>Consumer Total:&#160;</label>
          </td>
          <td class="ItemTitle">
            <label>{{invoiceTotal | currency}}</label>
          </td>
        </tr>
        <tr>
          <td class="ItemTitle">
            Storefront Order ID:&nbsp;
          </td>
          <td class="ItemTitle">
            <input type="text" [(ngModel)]="searchCriteria.StoreOrderRangeFrom" />
            &nbsp;to&nbsp;
            <input type="text" [(ngModel)]="searchCriteria.StoreOrderRangeTo" />
          </td>
          <td class="ItemTitle">
            Void:&nbsp;
          </td>
          <td class="ItemTitle">
            &nbsp;
            <select [(ngModel)]="searchCriteria.Void">
              <option [ngValue]="undefined" selected="selected">Any</option>
              <option [ngValue]="'Y'">Yes</option>
              <option [ngValue]="'N'">No</option>
            </select>
          </td>
          <td class="ItemTitleRight">
            <label>Consumer Prod Total:&#160;</label>
          </td>
          <td class="ItemTitle">
            <label>{{prodTotal | currency}}</label>
          </td>
        </tr>
        <tr>
          <td class="ItemTitle">
            Last Name:
          </td>
          <td align="left" class="ItemTitle">
            <input type="text" [(ngModel)]="searchCriteria.LastName" />
          </td>
          <td class="ItemTitle">
            Ready for Pickup:&nbsp;
          </td>
          <td class="ItemTitle">
            &nbsp;
            <select [(ngModel)]="searchCriteria.ReadyForPickup">
              <option [ngValue]="undefined" selected="selected">Any</option>
              <option [ngValue]="'Y'">Yes</option>
              <option [ngValue]="'N'">No</option>
            </select>
          </td>
          <td class="ItemTitleRight">
            <label>Consumer Tax Total:&#160;</label>
          </td>
          <td class="ItemTitle">
            <label>{{taxTotal | currency}}</label>
          </td>
        </tr>
        <tr>
          <td class="ItemTitle">
            First Name:
          </td>
          <td align="left" class="ItemTitle">
            <input type="text" [(ngModel)]="searchCriteria.FirstName" />
          </td>
          <td class="ItemTitle" id="tdBalanceLabel" runat="server">
            <label>Balance:&#160;</label>
          </td>
          <td class="ItemTitle">
            &nbsp;
            <select [(ngModel)]="searchCriteria.Balance">
              <option [ngValue]="undefined" selected="selected">Any</option>
              <option [ngValue]="'0'">0</option>
              <option [ngValue]="'POS'">Pos</option>
              <option [ngValue]="'NEG'">Neg</option>
            </select>
          </td>
          <td class="ItemTitleRight">
            <label>Consumer Shipping total:&#160;</label>
          </td>
          <td class="ItemTitle">
            <label>{{shippingTotal | currency}}</label>
          </td>
        </tr>
        <tr>
          <td class="ItemTitle">
            Email Address:
          </td>
          <td class="ItemTitle">
            <input type="text" [(ngModel)]="searchCriteria.Email" />
          </td>
          <td class="ItemTitle">Ordered in past 2 years?</td>
          <td class="ItemTitle">
            &nbsp;
            <select [(ngModel)]="searchCriteria.HasRecentOrders">
              <option [ngValue]="undefined" selected="selected">Any</option>
              <option [ngValue]="'Y'">Yes</option>
              <option [ngValue]="'N'">No</option>
            </select>
          </td>
          <td colspan="2">&nbsp;</td>
        </tr>
        <tr>
          <td class="ItemTitle">
            Tracking #:
          </td>
          <td class="ItemTitle">
            <input type="text" [(ngModel)]="searchCriteria.TrackingNum" />
          </td>
          <td class="ItemTitle">
            Processing Type:
            &nbsp;
          </td>
          <td class="ItemTitle">
            &nbsp;
            <select [(ngModel)]="searchCriteria.ProcessingType">
              <option [ngValue]="undefined" selected="selected">Any</option>
              <option [ngValue]="1">Retail</option>
              <option [ngValue]="0">Wholesale</option>
            </select>
          </td>
          <td colspan="2">
            &nbsp;
          </td>
        </tr>

        <tr>
          <td class="ItemTitle">
            Max Rows:
          </td>
          <td class="ItemTitle">
            <input type="text" [(ngModel)]="searchCriteria.MaxRow" />
          </td>
          <td>&nbsp;</td>
          <td class="ItemTitle">
            &nbsp;
          </td>
          <td class="ItemTitle">
            &nbsp;
          </td>
          <td colspan="2">
            &nbsp;
          </td>
        </tr>
        <tr>
          <td class="ItemTitle">
            <label>
              Source:
            </label>
          </td>
          <td class="ItemTitle">
            <select [(ngModel)]="searchCriteria.Source">
              <option [ngValue]="undefined">All</option>
              <option [ngValue]="1">Website</option>
              <option [ngValue]="2">Phone</option>
              <option [ngValue]="3">Amazon</option>
              <option [ngValue]="4">Refill Reminder Manual Entry</option>
              <option [ngValue]="5">Refill Reminder Self Service</option>
              <option [ngValue]="6">Order Text Feed</option>
              <option [ngValue]="7">Ebay</option>
              <option [ngValue]="8">Other</option>
              <option [ngValue]="9">Web Service</option>
              <option [ngValue]="10">Shop.com</option>
              <option [ngValue]="11">Mail</option>
              <option [ngValue]="12">Email</option>
              <option [ngValue]="13">Walk-in</option>
              <option [ngValue]="14">Jet.com</option>
              <option [ngValue]="15">Walmart</option>
              <option [ngValue]="16">Groupon</option>
              <option [ngValue]="17">Buy On Google</option>
            </select>
          </td>
          <td>&nbsp;</td>
          <td class="ItemTitle">
            &nbsp;
          </td>
          <td class="ItemTitle">
            &nbsp;
          </td>
          <td colspan="2">
            &nbsp;
          </td>
        </tr>
        <tr>
          <td class="ItemTitle">
            <label>
              Carrier:
            </label>
          </td>
          <td class="ItemTitle">
            <select [(ngModel)]="searchCriteria.CarrierId" *ngIf="carriers">
              <option [ngValue]="undefined">All</option>
              <option *ngFor="let carrier of carriers" [ngValue]="carrier.CandCID">{{carrier.ClassCode}}</option>
            </select>
          </td>
          <td>&nbsp;</td>
          <td class="ItemTitle">
            &nbsp;
          </td>
          <td class="ItemTitle">
            &nbsp;
          </td>
          <td colspan="2">
            &nbsp;
          </td>
        </tr>
        <tr>
          <td class="ItemTitle">
            <label>
              Warehouse:
            </label>
          </td>
          <td class="ItemTitle">
            <select [(ngModel)]="searchCriteria.Warehouse">
              <option [ngValue]="undefined" selected="selected">Any</option>
              <option [ngValue]="1">CA</option>
              <option [ngValue]="0">NC</option>
            </select>
          </td>
          <td>&nbsp;</td>
          <td class="ItemTitle">
            <label>PopUp Order:&#160;</label>
          </td>
          <td class="ItemTitle">
            <input type="text" [(ngModel)]="searchCriteria.PopupOrder" />
          </td>
          <td colspan="2">
            &nbsp;
          </td>
        </tr>
        <tr>
          <td class="ItemTitle">
            &nbsp;
          </td>
          <td class="ItemTitle">
            &nbsp;
            <!--<asp:CheckBox ID="ExpandAll" runat="server" Text="Expand info to capture" TabIndex="10"
                  AutoPostBack="True" Font-Names="Verdana,Arial,Helvetica,sans-serif" Font-Size="XX-Small"
                  Visible="False" />-->
          </td>
          <td>
            &nbsp;
          </td>
          <td class="ItemTitle">
            <label>Follow Up Date:&#160;</label>
          </td>
          <td class="ItemTitle">
            &nbsp;
            <input type="text"
                   placeholder="Follow Up Date"
                   [(ngModel)]="searchCriteria.FollowUpDate"
                   bsDatepicker>
          </td>
          <td>
            &nbsp;
          </td>
          <td colspan="2">
            &nbsp;
          </td>
        </tr>

        <tr>
          <td class="ItemTitle">
            &nbsp;
          </td>
          <td class="ItemTitle">
            <button (click)="search()">Search</button>
          </td>
          <td class="ItemTitle">
            &nbsp;
          </td>
          <td class="ItemTitle">
          </td>
          <td colspan="2">
          </td>
        </tr>
      </table>

      <br /> <!-- YOU ARE HERE -->

      <table cellspacing="0" cellpadding="0" border="0" width="100%">
        <tr>
          <td width="100px">&nbsp;</td>
          <td align="center">

            <div class="row" *ngIf="orders">
              <div class="col-md-12">

                <table datatable *ngIf="orders" width="100%">
                  <thead>
                    <tr>
                      <th>SF Order Number</th>
                      <th>Provider Order #</th>
                      <th>Date Placed</th>
                      <th>Whls Order</th>
                      <th>Bill To</th>
                      <th>Invoice Amount</th>
                      <th>Balance</th>
                      <th>Auth Balance</th>
                      <th>Ship Method</th>
                      <th>Ship Status</th>
                      <th>Affiliate</th>
                      <th>Follow Up</th>
                      <th>OS</th>
                      <th>IA</th>
                      <th>PS</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let order of orders">
                      <td>
                        <a (click)='openOrderDetailsPopup(order.OrderID);'>{{order.StorefrontOrderID}}</a>
                      </td>
                      <td>
                        {{order.OrderID}}
                      </td>
                      <td>
                        {{order.DateTimeOrderPlaced|date:'medium'}}
                      </td>
                      <td>
                        {{displayWholesaleMarker(order.ProcessingType)}}
                      </td>
                      <td>
                        {{order.BillToFName}}&nbsp;{{order.BillToLName}}
                      </td>
                      <td>
                        {{order.OrderGrandTotal|currency}}
                      </td>
                      <td>
                        {{order.Balance|currency}}
                      </td>
                      <td>
                        {{order.AuthBalance|currency}}
                      </td>
                      <td>
                        {{order.ShipMethodCode}}
                      </td>
                      <td>
                        {{order.FraudWarningFlag}}
                      </td>
                      <td><!--Affiliate--></td>
                      <td>
                        {{order.DateFollowUp|date:'medium'}}
                      </td>
                      <td>
                        {{writeIfIsDate(order.InProcess_ProdNotAvail, 'OS')}}
                      </td>
                      <td>
                        {{writeIfIsDate(order.InProcess_InvalidShipAddress, 'IA')}}
                      </td>
                      <td>
                        {{writeIfIsDate(order.InProcess_ProdRemovalRequired, 'PS')}}
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
                <!--<asp:Panel ID="pnlDataTrue" runat="server" Visible="false">
                  <asp:GridView ID="grdvOrderDetail" runat="server" BorderColor="LightSteelBlue" BorderStyle="Solid" width="95%"
                                BorderWidth="1px" EnableViewState="False" CellPadding="3" ItemStyle-Font-Size="XX-Small"
                                ItemStyle-Font-Names="Verdana,Arial,Helvetica,sans-serif" ShowHeader="True" OnRowDataBound="grdvRowDataBound"
                                AutoGenerateColumns="False" AllowSorting="True" GridLines="Horizontal"
                                DataKeyNames="OrderID" OnSorting="OrderDetailsGridView_Sorting">
                    <RowStyle Font-Size="XX-Small" Font-Names="Verdana,Arial,Helvetica,sans-serif" HorizontalAlign="Left"></RowStyle>
                    <HeaderStyle Font-Size="XX-Small" Font-Names="Verdana,Arial,Helvetica,sans-serif"
                                 HorizontalAlign="Center" CssClass="TextBold" VerticalAlign="Bottom"></HeaderStyle>
                    <Columns>
                      <asp:TemplateField HeaderText="SF Order<br>Number" SortExpression="StorefrontOrderID">
                        <ItemStyle HorizontalAlign="Center" Wrap="False" VerticalAlign="Top"></ItemStyle>
                        <ItemTemplate>
                          <a href='javascript:popupOrderDetails("OrderDetails.aspx?OrderID=<%# DataBinder.Eval(Container.DataItem, "OrderID") %>");'>
                            <asp:Label ID="ProviderOrderID" runat="server" Text='<%# DataBinder.Eval(Container.DataItem, "StorefrontOrderID") %>' />
                          </a>
                        </ItemTemplate>
                      </asp:TemplateField>
                      <asp:BoundField HeaderText="Provider Order #" SortExpression="OrderID" DataField="OrderID">
                        <ItemStyle Wrap="False" HorizontalAlign="Center" VerticalAlign="Top"></ItemStyle>
                      </asp:BoundField>
                      <asp:BoundField HeaderText="Date Placed" SortExpression="DateTimeOrderPlaced" DataField="DateTimeOrderPlaced" DataFormatString="{0:MM/dd/yy h:mm tt}">
                        <ItemStyle Wrap="False" HorizontalAlign="Center" VerticalAlign="Top"></ItemStyle>
                      </asp:BoundField>
                      <asp:TemplateField HeaderText="Whls Order" SortExpression="ProcessingType">
                        <ItemStyle Wrap="False" HorizontalAlign="Center" VerticalAlign="Top"></ItemStyle>
                        <ItemTemplate>
                          <%# DisplayWholesaleMarker(DataBinder.Eval(Container.DataItem, "ProcessingType").ToString()) %>
                        </ItemTemplate>
                      </asp:TemplateField>
                      <asp:TemplateField HeaderText="Bill To" SortExpression="BillToFName">
                        <ItemStyle Wrap="False" HorizontalAlign="Center" VerticalAlign="Top"></ItemStyle>
                        <ItemTemplate>
                          <%# DataBinder.Eval(Container.DataItem, "BillToFName") + " " + DataBinder.Eval(Container.DataItem, "BillToLName") %>
                        </ItemTemplate>
                      </asp:TemplateField>
                      <asp:BoundField HeaderText="Invoice Amount" SortExpression="OrderGrandTotal" DataField="OrderGrandTotal" DataFormatString="{0:c}">
                        <ItemStyle HorizontalAlign="Right" Width="60px" VerticalAlign="Top"></ItemStyle>
                      </asp:BoundField>
                      <asp:BoundField HeaderText="Balance" SortExpression="Balance" DataField="Balance" DataFormatString="{0:c}">
                        <ItemStyle HorizontalAlign="Right" Width="60px" VerticalAlign="Top"></ItemStyle>
                      </asp:BoundField>
                      <asp:BoundField HeaderText="Auth Balance" SortExpression="AuthBalance" DataField="AuthBalance" DataFormatString="{0:c}">
                        <ItemStyle HorizontalAlign="Right" Width="60px" VerticalAlign="Top"></ItemStyle>
                      </asp:BoundField>
                      <asp:BoundField HeaderText="Ship Method" SortExpression="ShipMethodCode" DataField="ShipMethodCode">
                        <ItemStyle HorizontalAlign="Center" Width="60px" VerticalAlign="Top"></ItemStyle>
                      </asp:BoundField>
                      <asp:BoundField HeaderText="Ship Status" SortExpression="FraudWarningFlag" DataField="FraudWarningFlag">
                        <ItemStyle Wrap="False" HorizontalAlign="Center" VerticalAlign="Top"></ItemStyle>
                      </asp:BoundField>
                      <asp:TemplateField HeaderText="Affiliate">
                        <HeaderStyle HorizontalAlign="Left" VerticalAlign="Bottom"></HeaderStyle>
                        <ItemStyle HorizontalAlign="Left" VerticalAlign="Top"></ItemStyle>
                        <ItemTemplate>
                        </ItemTemplate>
                      </asp:TemplateField>
                      <asp:BoundField HeaderText="Follow Up" SortExpression="DateFollowUp" DataField="DateFollowUp" DataFormatString="{0:MM/dd/yyyy}">
                        <ItemStyle Wrap="False" HorizontalAlign="Center" VerticalAlign="Top"></ItemStyle>
                      </asp:BoundField>
                      <asp:TemplateField HeaderText="OS" SortExpression="InProcess_ProdNotAvail">
                        <ItemStyle Wrap="False" HorizontalAlign="Center" VerticalAlign="Top"></ItemStyle>
                        <ItemTemplate>
                          <span style="BACKGROUND-COLOR: #ffff99"><font color="FF9933"><b><%# WriteIfIsDate(DataBinder.Eval(Container.DataItem, "InProcess_ProdNotAvail", "{0:MM/dd/yyyy}").ToString(), "OS") %></b></font></span>
                        </ItemTemplate>
                      </asp:TemplateField>
                      <asp:TemplateField HeaderText="IA" SortExpression="InProcess_InvalidShipAddress">
                        <ItemStyle Wrap="False" HorizontalAlign="Center" VerticalAlign="Top"></ItemStyle>
                        <ItemTemplate>
                          <span style="BACKGROUND-COLOR: #ffff99"><font color="FF9933"><b><%# WriteIfIsDate(DataBinder.Eval(Container.DataItem, "InProcess_InvalidShipAddress", "{0:MM/dd/yyyy}").ToString(), "IA") %></b></font></span></span>
                        </ItemTemplate>
                      </asp:TemplateField>
                      <asp:TemplateField HeaderText="PS" SortExpression="InProcess_ProdRemovalRequired">
                        <ItemStyle Wrap="False" HorizontalAlign="Center" VerticalAlign="Top"></ItemStyle>
                        <ItemTemplate>
                          <span style="BACKGROUND-COLOR: #ffff99"><font color="FF9933"><b><%# WriteIfIsDate(DataBinder.Eval(Container.DataItem, "InProcess_ProdRemovalRequired", "{0:MM/dd/yyyy}").ToString(), "PS") %></b></font></span>
                        </ItemTemplate>
                      </asp:TemplateField>
                    </Columns>
                  </asp:GridView>
                  <br />
                  <table class="black_normal_med" id="Table1" cellspacing="1" cellpadding="1" width="300"
                         border="0">
                    <tr>
                      <td width="25" bgcolor="lightgreen">
                      </td>
                      <td class="ItemTitle">
                        Order in process
                      </td>
                    </tr>
                    <tr>
                      <td bgcolor="lightblue">
                      </td>
                      <td nowrap class="ItemTitle">
                        Balance has been authorized but not captured
                      </td>
                    </tr>
                    <tr>
                      <td bgcolor="lightgrey">
                      </td>
                      <td class="ItemTitle">
                        Order shipped
                      </td>
                    </tr>
                    <tr>
                      <td bgcolor="darkgray">
                      </td>
                      <td class="ItemTitle">
                        Voided order
                      </td>
                    </tr>
                    <tr>
                      <td bgcolor="yellow">
                      </td>
                      <td nowrap class="ItemTitle">
                        Order matches information on fraud watch list
                      </td>
                    </tr>
                    <tr>
                      <td bgcolor="red">
                      </td>
                      <td class="ItemTitle">
                        Order has a balance
                      </td>
                    </tr>
                    <tr>
                      <td bgcolor="sandybrown">
                      </td>
                      <td class="ItemTitle">
                        CC Declined
                      </td>
                    </tr>
                  </table>
                </asp:Panel>
                <asp:Panel ID="pnlDataFalse" runat="server" Visible="false">
                  <asp:Label ID="lblDataFalse" runat="server" CssClass="TextBold">No data matches your search criteria.</asp:Label>
                </asp:Panel>-->
          </td>
        </tr>
        <tr>
          <td height="18">
          </td>
        </tr>
        <tr>
          <td width="100px">&nbsp;</td>
          <td align="center">
            <!--<input type="hidden" name="hdnDgItems" runat="server" id="hdnDgItems" />
            <asp:Button ID="CaptureAll" AccessKey="S" TabIndex="15" runat="server" BorderColor="Black"
                        BorderStyle="Solid" BorderWidth="2px" Text="Capture All" ToolTip="Click to capture selected rows"
                        BackColor="WhiteSmoke" Visible="false"></asp:Button>-->
          </td>
        </tr>
        <tr>
          <td width="100px">&nbsp;</td>
          <td align="center">
            <!--<asp:Label ID="lblMessage" runat="server" CssClass="ItemTitle" ForeColor="Red"></asp:Label>-->
          </td>
        </tr>
      </table>
    </td>
  </tr>
</table>
