<h1>MTG Deck Builder</h1>

<p>This is the home page, the features in this application are designed as a template for future development. Some of the features included are:</p>
<ul>
  <li><strong>OAuth2 Authentication using JWT Tokens</strong></li>
  <li><strong><strikethrough>User Creation and Password encryption</strikethrough></strong></li>
  <li><strong><strikethrough>E-mail integration. Password reset, account creation validation</strikethrough></strong></li>
  <li><strong>Database connectivity</strong></li>
  <li><strong>User Security Privileges</strong></li>
  <li><strong>Custom component classes and inheritance</strong></li>
  <li><strong>Dependency injection</strong></li>
  <li><strong>Entity Framework</strong></li>
  <li><strong>Microservices</strong></li>
  <li><strong>Responsive Navigation system</strong></li>
  <li><strong>Commander Deck Builder</strong></li>
  <li><strong>Crawl EDHRec for sorted card suggestions</strong></li>
  <li><strong>Crawl Commander Spellbook for both existing combos and suggested combos</strong></li>
  <li><strong>Scryfall Integration for updated card data</strong></li>
  <li><strong>Custom Game Rule Development based onexisting formats (may be scrapped)</strong></li>
</ul>

