<h1>Angular Base</h1>
<p>Welcome to angular base</p>
<p>This is the home page, the features in this application are designed as a template for future development. Some of the features included are:</p>
<ul>
  <li><strong>OAuth2 Authentication using JWT Tokens</strong></li>
  <li><strong>User Creation and Password encryption</strong></li>
  <li><strong>Database connectivity</strong></li>
  <li><strong>E-mail integration. Password reset, account creation validation</strong></li>
  <li><strong>User Security Privileges</strong></li>
  <li><strong>Front End Base classes and inheritance</strong></li>
  <li><strong>Dependency injection</strong></li>
  <li><strong>Custom Components</strong></li>
  <li><strong>Responsive Navigation system</strong></li>
</ul>

