<h1>MTG Deck Builder</h1>

<!--<p>This is the home page, the features in this application are designed as a template for future development. Some of the features included are:</p>-->
<p><b>System</b></p>
<ul>
  <li><strong>OAuth2 Authentication using JWT Tokens</strong></li>
  <li><strong>JWT Interception</strong></li>
  <li><strong>Password Encryption</strong></li>
  <li><strong>User Security Privileges</strong></li>
  <li><strong>Component Base Class Inheritance</strong></li>
  <li><strong>Dependency Injection</strong></li>
  <li><strong>Entity Framework</strong></li>
  <li><strong>Microservices</strong></li>
  <li><strong><s>User Creation</s></strong></li>
  <li><strong><s>E-mail integration. Password reset, account creation validation</s></strong></li>
</ul>
<p><b>Features and Integrations</b></p>
<ul>
  <li><strong>Commander Deck Builder (Other formats require custom development)</strong></li>
  <li><strong>Crawl EDHRec for sorted card suggestions</strong></li>
  <li><strong>Crawl Commander Spellbook for both existing combos and suggested combos</strong></li>
  <li><strong>Scryfall Integration for updated card data</strong></li>
  <li><strong>Custom Game Rule Development based on existing formats (may be scrapped)</strong></li>
</ul>
<p><b>Frameworks</b></p>
<ul>
  <li><strong>Built in .Net 5 / Angular 8</strong></li>
  <li><strong>Upgraded to .Net 6 / Angular 12</strong></li>
  <li><strong>Upgraded to .Net 8 / Angular 18</strong></li>
</ul>
<p>
  Appreciation to
  <a href="https://scryfall.com" target="_blank">Scryfall</a>,
  <a href="https://edhrec.com" target="_blank">Edhrec</a> and
  <a href="https://commanderspellbook.com" target="_blank">Commander Spellbook</a>
  for their phenomenal services.
</p>


