<h1 id="tableLabel">Homebrews</h1>

<p>Public Homebrews</p>

<table class="table" style="max-width:650px;">
  <tr>
    <td>
      <table class="table">
      </table>
    </td>
    <td style="vertical-align: top;">
    </td>
    <td style="vertical-align: top;">
    </td>
  </tr>
  <tr>
    <td align="right" colspan="3">
      <button type="button" class="btn btn-outline-primary" (click)="openAddHomebrewPopup()">Add</button>
      <button type="button" class="btn btn-outline-secondary" (click)="LoadDataGridsData()">Search</button>
    </td>
  </tr>
</table>

<p *ngIf="!homebrews"><em>Loading...</em></p>
<table datatable *ngIf="homebrews" [dtOptions]="homebrewDtOptions" width="100%">
  <thead>
    <tr>
      <th width="25%">Name</th>
      <th width="25%">Format</th>
      <th width="25%">Allowed Sets</th>
      <th width="25%">Set Types</th>
      <!--<th width="25%">Block</th>
  <!--<th width="25%">Type</th>
  <th width="25%">Online Only</th>
  <th width="25%">ReleaseDate</th>-->
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let brew of homebrews">
      <td width="25%">
        {{brew.Name}}
      </td>
      <td width="25%">
        {{brew.GameFormatName}}
      </td>
      <td width="25%">
        {{brew.AllowedSets.length}}
      </td>
      <td width="25%">
        {{brew.SetTypes.length}}
      </td>
      <!--<td width="25%">
    {{set.Block}}
  </td>
  <td width="25%">
    {{set.Type}}
  </td>
  <td width="25%">
    {{set.OnlineOnly}}
  </td>
  <td width="25%">
    {{set.ReleaseDate|date:'yyyy-MM-dd'}}
  </td>-->
    </tr>
  </tbody>

</table>

