<h1 id="tableLabel">Blacklisted Customers</h1>

<p>This component has a create element which is unimplemented</p>

<p *ngIf="!blacklists"><em>Loading...</em></p>
<table datatable *ngIf="blacklists" width="100%">
  <thead>
    <tr>
      <th width="25%">Order Id</th>
      <th width="15%">Name</th>
      <th width="25%">Address</th>
      <th width="10%">Zip Code</th>
      <th width="25%">Comments</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let blacklist of blacklists">
      <td width="25%">
        <!--target="_blank" [routerLink]="['/customers-blacklist-orderdetails', blacklist.ProviderOrderID]"-->
        <a (click)='openOrderDetailsPopup(blacklist.ProviderOrderID);'>
          <FONT color="#cc0000"><b>{{ blacklist.ProviderOrderID }}</b></FONT>
        </a>
        <br />
        {{ blacklist.DateTimeOrderPlaced | date:'medium' }}
      </td>
      <td width="15%">
        {{ blacklist.BillToFName }}&nbsp;{{ blacklist.BillToLName }}
        <br />
        {{ blacklist.ShipToFName }}&nbsp;{{ blacklist.ShipToLName }}
      </td>
      <td width="25%">
        {{ blacklist.BillToAddress }}
        <br />
        {{ blacklist.ShipToAddress }}
      </td>
      <td width="10%">
        {{ blacklist.BillToZip }}
        <br />
        {{ blacklist.ShipToZip }}
      </td>
      <td width="25%">{{ blacklist.Comments }}</td>
    </tr>
  </tbody>

</table>
