/* You can add global styles to this file, and also import other style files */
@import url("../node_modules/bootstrap/dist/css/bootstrap.min.css");
@import url('https://cdn.jsdelivr.net/npm/mana-font@latest/css/mana.css');

.link-primary {
  cursor: pointer;
}

a:hover {
    cursor: pointer
}


.HLine {
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #999999;
}

.ItemTitle {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 11px;
  font-style: normal;
  line-height: normal;
  font-weight: normal;
  font-variant: normal;
  text-indent: 2pt;
  vertical-align: middle;
  margin-left: 2px;
  padding-left: 2px;
  text-align: left;
}
.ItemTitleRight {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 11px;
  font-style: normal;
  line-height: normal;
  font-weight: normal;
  font-variant: normal;
  text-indent: 2pt;
  vertical-align: middle;
  margin-left: 2px;
  padding-left: 2px;
  text-align: right;
}

.full-size-modal {
  max-width: 90% !important;
  width: 90% !important;
  max-height: 90vh !important;
  height: 90vh !important;
  overflow: hidden;
}

.fill-content {
  height: 100%;
}

.full-size-modal .modal-content {
  height: 100%;
  overflow-y: auto; /* Add vertical scrollbar if needed */
}

.checkbox-container {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

  .checkbox-container label {
    margin-right: 10px; /* Adjust as needed */
  }

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

