.modal-content {
  max-height: 80vh;
  overflow-y: auto;
}

.card-container {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.card-image {
  width: 100px;
  height: auto;
  cursor: pointer;
}

.combo-row {
    text-align:center;
    width: 100%;
}
