
<nav id="sidebar" [ngClass]="SideBarOpen ? 'show' : 'hide'" *ngIf="_authenticationService.IsLoggedIn">
  <div id="sidebar-toggler" (click)="ToggleSideBar()">
    <i class="fas fa-bars"></i>
  </div>
  <div class="sidebar-header">
    <!--<h3>Menu</h3>-->
  </div>
  <ul class="list-unstyled components">
    <!-- Admin -->
    <li>
      <a class="nav-link" style="cursor: pointer;" (click)="ToggleSubMenuItem('adminSubmenu')">
        <i class="fa fa-cogs"></i>
        <span class="col-auto">Admin</span>
      </a>
      <ul class="collapse list-unstyled" id="adminSubmenu">
        <li [ngClass]="this._currentRouterLocation.indexOf('download-mtg-data') == 0 ? 'active' : ''">
          <a class="nav-link" [routerLink]="['/download-mtg-data']">
            <i class="fa fa-download"></i>
            <span class="col-auto">Sync Mtg Data</span>
          </a>
        </li>
      </ul>
    </li>

    <!-- HOME -->
    <li [ngClass]="this._currentRouterLocation == '' ? 'active' : ''">
      <a class="nav-link" [routerLink]="['/']">
        <i class="fa fa-home"></i>
        <span class="col-auto">Home</span>
      </a>
    </li>

    <!-- SEARCH -->
    <li>
      <a class="nav-link" style="cursor: pointer;" (click)="ToggleSubMenuItem('searchSubmenu')">
        <i class="fa fa-search"></i>
        <span class="col-auto">Search</span>
      </a>
      <ul class="collapse list-unstyled" id="searchSubmenu">
        <li [ngClass]="this._currentRouterLocation.indexOf('search-cards') == 0 ? 'active' : ''">
          <a class="nav-link" [routerLink]="['/search-cards']">
            <i class="fa fa-puzzle-piece"></i>
            <span class="col-auto">Card Search</span>
          </a>
        </li>
        <li [ngClass]="this._currentRouterLocation.indexOf('search-sets') == 0 ? 'active' : ''">
          <a class="nav-link" [routerLink]="['/search-sets']">
            <i class="fa fa-hourglass-half"></i>
            <span class="col-auto">Set Search</span>
          </a>
        </li>
      </ul>
    </li>

    <!-- Home Brew -->
    <li>
      <a class="nav-link" style="cursor: pointer;" (click)="ToggleSubMenuItem('homebrewsSubmenu')">
        <i class="fa fa-coffee"></i>
        <span class="col-auto">Home Brews</span>
      </a>
      <ul class="collapse list-unstyled" id="homebrewsSubmenu">
        <li>
          <a class="nav-link" [routerLink]="['/homebrews']">
            <i class="fa fa-coffee"></i>
            <span class="col-auto">Brew</span>
          </a>
        </li>
        <li>
          <a class="nav-link" [routerLink]="['/import-deck']">
            <i class="fa fa-download"></i>
            <span class="col-auto">Import</span>
          </a>
        </li>
      </ul>
    </li>

    <!-- Decks -->
    <li>
      <a class="nav-link" style="cursor: pointer;" (click)="ToggleSubMenuItem('decksSubmenu')">
        <i class="fa fa-align-justify"></i>
        <span class="col-auto">Decks</span>
      </a>
      <ul class="collapse list-unstyled" id="decksSubmenu">        
        <li>
          <a class="nav-link" [routerLink]="['/deck-list']">
            <i class="fa fa-align-justify"></i>
            <span class="col-auto">My Decks</span>
          </a>
        </li>
        <li>
          <a class="nav-link" [routerLink]="['/deck-builder']">
            <i class="fa fa-align-r"></i>
            <span class="col-auto">Deck</span>
          </a>
        </li>
      </ul>
    </li>
  </ul>
</nav>
