.container {
  height: 100%;
  align-content: center;
}

.card {
  height: 370px;
  margin-top: auto;
  margin-bottom: auto;
  width: 480px;
  background-color: rgba(0,0,0,0.5) !important;
}

/*@media (min-width: 640px) {
  .login-card {
      width: 480px;
  }
}

@media (max-width: 639px) {
  .login-card {
    width: 100%;
  }
}*/
