<div class="container">
	<div class="d-flex justify-content-center h-100">
		<div class="card">
      <div class="card-body">
        <div class="form-content">
          <div class="form-items">
            <h1>Log In</h1>

            <p>Enter your credentials</p>
            <div class="row">
              <div class="col-md-12">
                <div class="form-group">
                  <input class="form-control" id="StorefrontId" type="text" placeholder="StorefrontId" [(ngModel)]="LoginInformation.StorefrontId" required />
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-12">
                <div class="form-group">
                  <input class="form-control" id="Username" type="text" placeholder="Username" [(ngModel)]="LoginInformation.Username" required />
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-12">
                <div class="form-group">
                  <input class="form-control" id="Password" type="password" placeholder="Password" [(ngModel)]="LoginInformation.Password" required />
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-md-12">
                <button class="btn btn-primary" (click)="Login()">Log In</button>
              </div>
            </div>

            <!--      <div class="row">
          <div class="col-md-12">
            Forgot your password? <a class="link-primary" (click)="ResetPassword()">Reset Password</a>
          </div>
        </div>

        <div class="row">
          <div class="col-md-12">
            Create a <a class="link-primary" (click)="CreateAccount()">New Account</a>
          </div>
        </div>

        <div class="row">
    <div class="col-md-12">
      <button class="btn btn-secondary" (click)="Test()">Test</button>
    </div>
  </div>-->
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
