<h1 id="tableLabel">Mtg Cards</h1>

<p>This component demonstrates fetching data from the server.</p>

<table>
  <tr>
    <td>
      <label for="homebrewDropdown" class="form-label">Criteria</label>
      <select id="homebrewDropdown" *ngIf="homebrews" [(ngModel)]="selectedHomebrew">
        <option [value]="null">Any</option>
        <option *ngFor="let homebrew of homebrews" [ngValue]="homebrew">{{homebrew.Name}}</option>
      </select>
    </td>
  </tr>
</table>

<table class="table" style="max-width:650px;">
  <tr>
    <td style="vertical-align: top;">
      <label for="deckListTextArea" class="form-label">Deck List</label>
      <textarea id="deckListTextArea" class="form-control" [(ngModel)]="deckImportData.DeckList" style="width: 100%; max-height:250px; height:250px;">
      </textarea>
    </td>
  </tr>
  <tr>
    <td align="right">
      <button type="button" class="btn btn-outline-secondary" (click)="ImportDeck()">Import</button>
    </td>
  </tr>
</table>


<!--<mat-form-field>
  <mat-label>Search</mat-label>
  <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Search cards">
</mat-form-field>-->
<app-card-search-dropdown *ngIf="selectedCommander && selectedHomebrew"
                          [ColorIdentity]="selectedCommander.ColorIdentity"
                          [Homebrew]="selectedHomebrew"
                          (cardSelected)="handleSelectedCard($event)">
</app-card-search-dropdown>
<br />
<a (click)="showComboSuggestions()">[Show Combo Suggestions]</a>
<a (click)="showEdhrecSuggestions()">[Show Edhrec Suggestions]</a>
<table>
  <tr>
    <td style="width: 400px; position: relative; text-align: center; border: 1px solid #000; vertical-align: top; padding: 15px;">
      <div *ngIf="selectedCommander" style="position: relative;">
        <img *ngIf="selectedCommander2" [src]="selectedCommander2.ImageUrl" style="max-height: 250px; z-index: 0; position: relative;" />
        <img *ngIf="selectedCommander" [src]="selectedCommander.ImageUrl" style="max-height: 250px; z-index: 1; position: absolute; top: 25px; left: 15px;" />

      </div>
    </td>
    <td style="width: auto">
      <span *ngIf="this.rawMtgCardData">{{this.rawMtgCardData.length}} Total Cards</span>
      <div *ngFor="let type of typeOrder">
        <div *ngIf="orderedGroups && orderedGroups[type]">
          <h2><strong>{{ type | titlecase }}&nbsp;({{orderedGroups[type].length}})</strong></h2>
          <table mat-table [dataSource]="orderedGroups[type]" class="mat-elevation-z8">
            <!-- Name Column -->
            <ng-container matColumnDef="name">
              <th mat-header-cell *matHeaderCellDef width="60%">Name</th>
              <td mat-cell *matCellDef="let card" width="60%">
                <span cardImageHoverPopup [attr.data-card]="card | json" [ngClass]="{'illegal-card': !IsCardLegal(card)}">{{card.Name}}</span><br />
                <!--<font style="color: red">{{IsCardLegal(card) ? '' : 'Illegal in format'}}</font><br />
                <i>{{card.Flavor}}</i>-->
              </td>


              ng
            </ng-container>

            <!-- Set Column -->
            <ng-container matColumnDef="set" width="12px">
              <th mat-header-cell *matHeaderCellDef class="text-right">Set</th>
              <td mat-cell *matCellDef="let card" class="text-right">{{ card.Set }}</td>
            </ng-container>

            <!-- ManaCost Column -->
            <ng-container matColumnDef="manaCost" width="15px">
              <th mat-header-cell *matHeaderCellDef class="text-right">Mana Cost</th>
              <td mat-cell *matCellDef="let card" class="text-right">{{ card.ManaCost }}</td>
            </ng-container>

            <ng-container matColumnDef="actions">
              <th mat-header-cell *matHeaderCellDef width="10%"> </th>
              <td mat-cell *matCellDef="let card" width="10%">
                <button *ngIf="isLegendaryCreature(card)" mat-button (click)="SetCardAsPartner(card)">Set Partner</button>
                <button *ngIf="isLegendaryCreature(card)" mat-button (click)="SetCardAsCommander(card)">Set Commander</button>
                <button mat-button (click)="openCardDetails(card)">Detail</button>
                <button mat-button (click)="RemoveCard(card)">Remove</button>
              </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
          </table>
        </div>
      </div>
    </td>
  </tr>

</table>

<!--<mat-paginator [pageSizeOptions]="[10, 25, 100]" showFirstLastButtons></mat-paginator>-->
