<h1 id="tableLabel">Mtg Cards</h1>

<p>This component demonstrates fetching data from the server.</p>

<table>
  <tr>
    <td>
      <label for="deckNameText" class="form-label">Deck Name</label>
      <input type="text"
             id="deckNameText"
             class="form-control"
             [(ngModel)]="deckName" />
    </td>
    <td>
      <label for="homebrewDropdown" class="form-label">Homebrew</label><br />
      <select id="homebrewDropdown" *ngIf="homebrews" [(ngModel)]="selectedHomebrew" class="form-control">
        <option [ngValue]="undefined">Any</option>
        <option *ngFor="let homebrew of homebrews" [ngValue]="homebrew">{{homebrew.Name}}</option>
      </select>
    </td>
    <td style="text-align: right; vertical-align: bottom;">
      <div class="button-group">
        <a (click)="toggleImportTable()">[Import]</a>
        <a (click)="toggleExportTable()">[Export]</a>
        <a (click)="ripDeckImages()">[Rip]</a>
      </div>
      <div *ngIf="showImportTable" class="popup">
        <table class="table" style="max-width:650px; min-width: 450px;">
          <tr>
            <td style="vertical-align: top;">
              <label for="deckListTextArea" class="form-label">Deck List</label>
              <textarea id="deckListTextArea" class="form-control" [(ngModel)]="deckImportData.DeckList" style="width: 100%; max-height:250px; height:250px;"></textarea>
            </td>
          </tr>
          <tr>
            <td align="right">
              <button type="button" class="btn btn-outline-secondary" (click)="ImportDeck()">Import</button>
            </td>
          </tr>
        </table>
      </div>
      <div *ngIf="showExportTable" class="popup">
        <table class="table" style="max-width:650px; min-width: 450px;">
          <tr>
            <td style="vertical-align: top;">
              <label for="exportListTextArea" class="form-label">Export List</label>
              <textarea id="exportListTextArea" class="form-control" rows="10">{{exportedData}}</textarea>
            </td>
          </tr>
        </table>
      </div>
      <button type="button" class="btn btn-outline-success" (click)="Save()">Save</button>
    </td>
  </tr>
</table>




<!--<mat-form-field>
  <mat-label>Search</mat-label>
  <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Search cards">*ngIf="selectedCommander && selectedHomebrew"
</mat-form-field>-->
<app-card-search-dropdown [ColorIdentity]="selectedCommander?.ColorIdentity ?? 'G,W,R,U,B'"
                          [Homebrew]="selectedHomebrew"
                          [DeckList]="rawMtgCardData"
                          (cardSelected)="handleSelectedCard($event)">
</app-card-search-dropdown>
<br />
<a (click)="showExistingCombos()">[Show Combos]</a>
<a (click)="showComboSuggestions()">[Show Combo Suggestions]</a>
<a (click)="showEdhrecSuggestions()">[Show Edhrec Suggestions]</a>
<a (click)="openAdvancedSearchModal()">[Advanced Search]</a>
<table>
  <tr>
    <td style="width: 400px; position: relative; text-align: center; border: 1px solid #000; vertical-align: top; padding: 15px;">
      <table>
        <tr style="height: 300px;">
          <td>
            <div *ngIf="selectedCommander" style="position: relative; display: inline-block;">
              <img *ngIf="selectedCommander2" [src]="selectedCommander2.ImageUrl" style="max-height: 250px; z-index: 0; position: absolute; top: -35px; left: 50%; transform: translateX(-50%);" />
              <img *ngIf="selectedCommander" [src]="selectedCommander.ImageUrl" style="max-height: 250px; z-index: 1; position: relative; margin-left: 35px;" />
            </div>
          </td>
        </tr>
      </table>
    </td>
    <td style="width: auto">
      <span *ngIf="this.rawMtgCardData">{{this.rawMtgCardData.length}} Total Cards</span>
      <div *ngFor="let type of typeOrder">
        <div *ngIf="orderedGroups && orderedGroups[type]">
          <h2><strong>{{ type | titlecase }}&nbsp;({{orderedGroups[type].length}})</strong></h2>
          <table mat-table [dataSource]="dataSources[type]" matSort class="mat-elevation-z8">
            <!-- Name Column -->
            <ng-container matColumnDef="name">
              <th mat-header-cell *matHeaderCellDef mat-sort-header width="60%">Name</th>
              <td mat-cell *matCellDef="let card" width="60%">
                <span cardImageHoverPopup [attr.data-card]="card | json" [ngClass]="{'illegal-card': !IsCardLegal(card)}">{{card.Name}}</span><br />
              </td>
            </ng-container>

            <!-- Set Column -->
            <ng-container matColumnDef="set" width="12px">
              <th mat-header-cell *matHeaderCellDef class="text-right">Set</th>
              <td mat-cell *matCellDef="let card" class="text-right">{{ card.Set }}</td>
            </ng-container>

            <!-- ManaCost Column -->
            <ng-container matColumnDef="manaCost" width="15px">
              <th mat-header-cell *matHeaderCellDef mat-sort-header style="text-align: center;">Mana Cost</th>
              <td mat-cell *matCellDef="let card" class="mana-cost" [innerHTML]="card.ManaCost | manaFont"></td>
            </ng-container>

            <!-- Value Column -->
            <ng-container matColumnDef="value" width="15px">
              <th mat-header-cell *matHeaderCellDef mat-sort-header style="text-align: center;">Value</th>
              <td mat-cell *matCellDef="let card" class="card-value" [innerHTML]="card.TcgPlayerMarketValue | currency"></td>
            </ng-container>

            <!-- Actions Column -->
            <ng-container matColumnDef="actions">
              <th mat-header-cell *matHeaderCellDef width="10%"> </th>
              <td mat-cell *matCellDef="let card" width="10%">
                <mat-menu #menu="matMenu">
                  <button *ngIf="isLegendaryCreature(card) || canBeCommander(card)" mat-menu-item (click)="SetCardAsPartner(card)">Set Partner</button>
                  <button *ngIf="isLegendaryCreature(card) || canBeCommander(card)" mat-menu-item (click)="SetCardAsCommander(card)">Set Commander</button>
                  <button mat-menu-item (click)="openCardDetails(card)">Detail</button>
                  <button mat-menu-item (click)="RemoveCard(card)">Remove</button>
                </mat-menu>
                <button mat-button [matMenuTriggerFor]="menu">Actions</button>
              </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <!--<ng-container *ngFor="let card of dataSources[type]">
    <tr mat-row *matRowDef="let row; columns: displayedColumns;" [ngClass]="{'hidden-row': card.Name === selectedCommander?.Name || card.Name === selectedCommander2?.Name}"></tr>
  </ng-container>-->

            <tr mat-row *matRowDef="let row; columns: displayedColumns;" [ngClass]="{'hidden-row': row.Name === selectedCommander?.Name || row.Name === selectedCommander2?.Name}"></tr>
          </table>
        </div>
      </div>
    </td>
  </tr>

</table>

<!--<mat-paginator [pageSizeOptions]="[10, 25, 100]" showFirstLastButtons></mat-paginator>-->
