/* Remove horizontal lines between rows */
.mat-table tr.mat-row, .mat-table tr.mat-header-row {
  border-bottom: none;
}

/* Reduce row height */
.mat-table .mat-cell, .mat-table .mat-header-cell {
  height: calc(1em + 8px); /* 1em is the font size, and 8px is the additional height */
  line-height: 1em; /* Ensure text is vertically centered */
  padding: 0; /* Remove default padding */
}

.illegal-card {
  color: red;
}
.mana-cost {
  text-align: center; /* Centers the text horizontally */
  vertical-align: middle;
  white-space: nowrap;
}

.hidden-row {
  display: none;
}

.popup {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  border: 1px solid #ccc;
  padding: 20px;
  z-index: 1000;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

  .popup .table {
    max-width: 650px;
  }
